<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>isITPrime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3768E79C1F08D7D30005A763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3768E7B01F08D7D40005A763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3768E7BB1F08D7D40005A763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
